* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: url(/img/birrd2.jpg);
}

.navbar img {
  width: 40px;
}

.navbar button {
  padding: 7px;
}

#homePage {
  margin-top: 80px;
}

#homePage img {
  width: 50%;
  margin-left: 180px;
}

#homePage button {
  margin-top: 30px;
}

.middle-left-section {
  padding-top: 80px;
}

.middle-left-section img {
  background: #7A4FBC;
  border-radius: 10px;
}

.chirpitem div:last-child {
  margin-top: 10px;
  max-width: 200px;
}

.chirpitem div:last-child #chirp-length {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  width: 50%;
}

.av-logo {
  width: 50px;
}

.chirp-item-top-section {
  display: inline-block;
}

#chirp h1 {
  font-size: 120px;
  color: white;
  opacity: .5;
}

#chirp h4 {
  padding-top: 150px;
  color: white;
  opacity: .6;
}
