$color1:#F5F8FA;
$color2:#A47FE5;
$color3:#7A4FBC;
$color4:#15A3EB;

*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-color: #F5F8FA;
}
.navbar{
    img{
        width: 40px;
    }
    button{
        padding: 7px;
    }
}
#homePage{
    margin-top: 80px;
    img{
        width: 50%;
        margin-left: 180px;
    }
    button{
        margin-top: 30px;
    }
}
.middle-section{
    padding-top: 60px;
    img{
        background: $color3;
        border-radius: 10px;
    }
}
