*{
    box-sizing: border-box;
}
img{
    width: 100%;
}

#homePage{
    margin-top: 80px;
    img{
        width: 50%;
        margin-left: 180px;
    }
    button{
        margin-top: 30px;
    }
}
